In [17]:
from pymongo import MongoClient
from neo4j import GraphDatabase
from neo4j.exceptions import Neo4jError
import pandas as pd

# Conexiones

# MongoDB
client = MongoClient("mongodb://admin:admin123@mongo:27017/")
db = client["data"]

# Neo4j
neo_uri = "bolt://neo4j:7687"
driver = GraphDatabase.driver(neo_uri, auth=("neo4j", "neo4j123"))

# -------------------------------------------------------------------
def run_cypher(driver, query, parameters=None, is_write=False):
    """
    Ejecuta una consulta Cypher que modifica datos
    """
    with driver.session() as session:
        if is_write:
            # Para consultas de escritura, usa una transacci√≥n expl√≠cita
            with session.begin_transaction() as tx:
                result = tx.run(query, parameters)
                summary = result.consume()
                # El bloque 'with' se encarga de confirmar la transacci√≥n (commit)
                return summary
        else:
            # Para consultas de lectura, devuelve los datos directamente
            result = session.run(query, parameters)
            return result.data()

In [18]:
# Punto 3.a
print(f"--- Incremento del 5% en actividades de Tucuman ---")

# Definicion de la ciudad y el porcentaje
ciudad_a_modificar = "Tucum√°n"
porcentaje_aumento = 0.05

# 1. Obtener la ciudad y extraer actividades.
destino_antes = db.destinos.find_one({"city": ciudad_a_modificar})
actividades_antes = []

if destino_antes and "tipos_actividad" in destino_antes:
    for tipo in destino_antes["tipos_actividad"]:
        for act in tipo.get("actividades", []):
            actividades_antes.append({"nombre": act["nombre"], "precio": act["precio"]})

# 2. Actualizar los precios y guardar de vuelta
if actividades_antes:
    destino_modificado = destino_antes.copy()
    
    for tipo in destino_modificado["tipos_actividad"]:
        for act in tipo.get("actividades", []):
            act["precio"] = round(act["precio"] * (1 + porcentaje_aumento), 2)
    
    update_result = db.destinos.replace_one({"city": ciudad_a_modificar}, destino_modificado)
    
    print(f" Se actualizo el documento de {ciudad_a_modificar}.")
else:
    print(f" Advertencia: No se encontro el destino {ciudad_a_modificar} o no tiene actividades.")

# 3. Extraer actividades DESPUES de la modificacion
destino_despues = db.destinos.find_one({"city": ciudad_a_modificar})
actividades_despues = []

if destino_despues and "tipos_actividad" in destino_despues:
    for tipo in destino_despues["tipos_actividad"]:
        for act in tipo.get("actividades", []):
            actividades_despues.append({"nombre": act["nombre"], "precio": act["precio"]})

# 4. IMPRESION Y COMPARACION:
if actividades_antes and actividades_despues:
    # Crear DataFrames renombrando las columnas
    df_antes = pd.DataFrame(actividades_antes).rename(columns={"nombre": "Actividad", "precio": "Precio_Original ($)"})
    df_despues = pd.DataFrame(actividades_despues).rename(columns={"nombre": "Actividad", "precio": "Precio_Nuevo ($)"})
    
    # Unir los DataFrames usando 'Actividad' como clave
    df_comparacion = pd.merge(df_antes, df_despues, on="Actividad", how="inner")
    
    print("\nTabla de comparacion de precios (Antes vs. Despues del 5%):")
    display(df_comparacion)
else:
    print(f" No hay actividades disponibles para comparar en {ciudad_a_modificar}.")

--- Incremento del 5% en actividades de Tucuman ---
 Se actualizo el documento de Tucum√°n.

Tabla de comparacion de precios (Antes vs. Despues del 5%):

                Actividad  Precio_Original ($)  Precio_Nuevo ($)
0           Mountain Bike                24643          25875.15
1   Degustaci√≥n de quesos                18462          19385.10
2   Clase de cocina local                20240          21252.00
3  Ruta de vinos/cervezas                14225          14936.25
4         Visita a museos                24692          25926.60
5      Teatro/Espect√°culo                32475          34098.75
6   Recolecci√≥n de frutos                14820          15561.00
7        Visita a granjas                21563          22641.15
8               Cabalgata                34191          35900.55

In [19]:
#Punto 3.b
print("\n--- Agregar servicio SPA al hotel ID=1 ---\n")

# Definicion del hotel y el servicio
hotel_id_a_modificar = 1
nuevo_servicio = "SPA"

# 1. Realizar la actualizacion 
update_result = db.hoteles.update_one(
    {"hotel_id": hotel_id_a_modificar}, 
    {"$addToSet": {"servicios": nuevo_servicio}}
)

# 2. Imprimir los resultados
if update_result.matched_count > 0:
    # Consultar los servicios para mostrar el cambio 
    servicios_actuales = db.hoteles.find_one({"hotel_id": hotel_id_a_modificar}, {"_id": 0, "servicios": 1, "name": 1})
    
    if update_result.modified_count > 0:
        print(f"- Se agrego el servicio '{nuevo_servicio}' al hotel {servicios_actuales.get('name')} (ID={hotel_id_a_modificar}).")
        print(f"   Nuevos servicios: {servicios_actuales.get('servicios')}")
    else:
        print(f"- El hotel {servicios_actuales.get('name')} (ID = {hotel_id_a_modificar}) ya tenia el servicio '{nuevo_servicio}'. No se realizaron cambios.")
        print(f"   Servicios actuales: {servicios_actuales.get('servicios')}")
else:
    print(f"‚ùå Error: No se encontro el hotel con hotel_id={hotel_id_a_modificar}.")

--- Agregar servicio SPA al hotel ID=1 ---

- Se agrego el servicio 'SPA' al hotel Buenos Aires Hotel 1 (ID=1).
   Nuevos servicios: ['Bar', 'Pileta', 'SPA']

In [20]:
# Punto 3.c
destinos_collection = db["destinos"]

# Se pide al usuario que ingrese el nombre del destino.
city_to_delete = input("Ingrese el nombre del destino (ciudad) que desea eliminar: ").strip() # .strip() elimina espacios en blanco

# Valida que el usuario haya ingresado texto.
while not city_to_delete:
    city_to_delete = input("‚ùå No ingresaste un nombre de destino. Ingresa nuevamente: ")

try:
    # El metodo delete_one() busca y elimina el primer documento que coincida con el filtro.
    result = destinos_collection.delete_one({"city": city_to_delete})

    # El atributo 'deleted_count' nos dice cuantos documentos se eliminaron.
    if result.deleted_count > 0:
        print(f"‚úîÔ∏è El destino '{city_to_delete}' ha sido eliminado correctamente.")
    else:
        print(f"‚ö†Ô∏è No se encontr√≥ ning√∫n destino con el nombre '{city_to_delete}'. No se elimin√≥ nada.")

except Exception as e:
    print(f"‚ùå Ocurri√≥ un error inesperado durante la eliminaci√≥n: {e}")

Ingrese el nombre del destino (ciudad) que desea eliminar:  Saladillo

‚úîÔ∏è El destino 'Saladillo' ha sido eliminado correctamente.

In [23]:
while True:
    try:
        user_id_to_delete = int(input("Ingrese el ID del usuario que desea eliminar: "))
        if user_id_to_delete < 1 or user_id_to_delete > 50:
            print(" El id ingresado esta fuera del rango valido (1-50). Pruebe nuevamente con un id entre 1 y 50")
            continue
        break  
    except ValueError:
        print("Error: Por favor, ingrese un ID numerico valido. Pruebe nuevamente con un id entre 1 y 50")

# --- PARTE 1: NEO4J (Eliminacion de nodo y relaciones) ---
print(f"\n--- Parte 1: Eliminando Usuario ID={user_id_to_delete} de Neo4j ---")

try:
    # 1. Recuperar el nombre del usuario para mostrar sus datos
    name_result = run_cypher(driver, "MATCH (u:Usuario {id: $id}) RETURN u.nombre AS nombre", {"id": user_id_to_delete})
    user_name_to_delete = name_result[0]['nombre'] if name_result else None

    if user_name_to_delete:
        print(f" Usuario encontrado en Neo4j:")
        print(f" ID: {user_id_to_delete}")
        print(f" Nombre: {user_name_to_delete}")
        
        # 2. Eliminar el nodo y todas sus relaciones 
        delete_query = """
        MATCH (u:Usuario {id: $id})
        DETACH DELETE u
        RETURN COUNT(u) AS deleted_count
        """
        delete_result = run_cypher(driver, delete_query, {"id": user_id_to_delete}, is_write=True)
        
        if delete_result and delete_result.counters.nodes_deleted > 0:
            print(f" Usuario '{user_name_to_delete}' (ID={user_id_to_delete}) y sus relaciones han sido eliminados de Neo4j.")
        else:
            print(f" Advertencia: No se pudo eliminar el usuario ID={user_id_to_delete} en Neo4j (posiblemente ya eliminado).")
    else:
        print(f" Error: No se encontro el usuario con ID={user_id_to_delete} en Neo4j.")

except Neo4jError as e:
    print(f" Ocurrio un error de Neo4j al ejecutar la consulta: {e}")

# --- PARTE 2: MONGODB (Eliminacion de documentos) ---
print(f"\n--- Parte 2: Eliminando Usuario ID={user_id_to_delete} de MongoDB ---")

# 1. Recuperar y mostrar los datos del usuario desde MongoDB
user_data = db.usuarios.find_one({"id": user_id_to_delete}, {"_id": 0})

if user_data:
    print(f" Usuario encontrado en MongoDB:")
    print(f" ID: {user_data.get('id')}")
    print(f" Nombre: {user_data.get('name')} {user_data.get('last_name')}")
    print(f" Edad: {user_data.get('age')}")
    print(f" DNI: {user_data.get('DNI')}")
    print(f" Telefono: {user_data.get('phone')}")

    # 2. Eliminar el documento de usuario
    user_delete_result = db.usuarios.delete_one({"id": user_id_to_delete})

    # 3. Eliminar las reservas asociadas a ese usuario 
    reservas_delete_result = db.reservas.delete_many({"user_id": user_id_to_delete})

    # 4. Imprimir los resultados
    if user_delete_result.deleted_count > 0:
        print(f" Usuario (ID={user_id_to_delete}) eliminado de la coleccion 'usuarios' en MongoDB.")
    else:
        print(f" Advertencia: No se pudo eliminar el usuario ID={user_id_to_delete} en 'usuarios' de MongoDB (posiblemente ya eliminado).")
    
    print(f" Se eliminaron {reservas_delete_result.deleted_count} reservas asociadas al usuario ID={user_id_to_delete} en MongoDB.")
else:
    print(f" Error: No se encontro el usuario con ID={user_id_to_delete} en MongoDB.")

Ingrese el ID del usuario que desea eliminar:  4

--- Parte 1: Eliminando Usuario ID=4 de Neo4j ---
 Usuario encontrado en Neo4j:
 ID: 4
 Nombre: Mateo S√°nchez
 Usuario 'Mateo S√°nchez' (ID=4) y sus relaciones han sido eliminados de Neo4j.

--- Parte 2: Eliminando Usuario ID=4 de MongoDB ---
 Usuario encontrado en MongoDB:
 ID: 4
 Nombre: Mateo S√°nchez
 Edad: 36
 DNI: 65082282
 Telefono: +5492738588842
 Usuario (ID=4) eliminado de la coleccion 'usuarios' en MongoDB.
 Se eliminaron 2 reservas asociadas al usuario ID=4 en MongoDB.

In [25]:
# Punto 3.e
user_name_to_delete = input("üë§ Ingrese el nombre y apellido del usuario para eliminar sus amistades: ").strip()

while not user_name_to_delete:
    user_name_to_delete = input("‚ùå No ingresaste un nombre. Ingrese un nombre: ")

# Esta consulta busca al usuario por su nombre y elimina todas sus relaciones [AMIGO_DE]
delete_query = """
MATCH (u:Usuario {nombre: $name})-[r:AMIGO_DE]-(amigo)
DELETE r
"""

try:
    # Se ejecuta la consulta
    result_summary = run_cypher(driver, delete_query, {"name": user_name_to_delete}, is_write=True)
    
    # Obtenemos la cantidad de relaciones eliminadas del resumen del resultado
    relationships_deleted = result_summary.counters.relationships_deleted
    
    if relationships_deleted > 0:
        print(f"‚úîÔ∏è Se eliminaron {relationships_deleted} relaciones 'AMIGO_DE' para el usuario '{user_name_to_delete}'.")
    else:
        print(f"No se encontraron relaciones 'AMIGO_DE' para el usuario '{user_name_to_delete}' (Verifica que el nombre sea exacto o que el usuario tuviera amistades).")

except Neo4jError as e:
    print(f"‚ùå Ocurri√≥ un error de Neo4j al ejecutar la consulta: {e}")
except Exception as e:
    print(f"‚ùå Ocurri√≥ un error inesperado: {e}")

üë§ Ingrese el nombre y apellido del usuario para eliminar sus amistades:  Pablo P√©rez

‚úîÔ∏è Se eliminaron 2 relaciones 'AMIGO_DE' para el usuario 'Pablo P√©rez'.

In [26]:
try:
    driver.close()
    client.close()
    print("\n‚úÖ Conexiones cerradas.")
except Exception as e:
    print(f"Error al cerrar conexiones: {e}")

‚úÖ Conexiones cerradas.