PARTE LAUTA

In [1]:
import pandas as pd
from pymongo import MongoClient

# Configuración de conexión a MongoDB
client = MongoClient("mongodb://admin:admin123@mongo:27017/")
db = client["data"]

# Definición de la ciudad y el porcentaje
ciudad_a_modificar = "Tucumán"
porcentaje_aumento = 0.05

print(f"--- a): Incremento del 5% en actividades de Tucuman ---")

# 1.Obtener la ciudad y extraer actividades.
destino_antes = db.destinos.find_one({"city": ciudad_a_modificar})
actividades_antes = []

if destino_antes and "tipos_actividad" in destino_antes:
    for tipo in destino_antes["tipos_actividad"]:
        for act in tipo.get("actividades", []):
            actividades_antes.append({"nombre": act["nombre"], "precio": act["precio"]})

# 2. Actualizar los precios y guardar de vuelta
if actividades_antes:
    destino_modificado = destino_antes.copy()
    
    for tipo in destino_modificado["tipos_actividad"]:
        for act in tipo.get("actividades", []):
            act["precio"] = round(act["precio"] * (1 + porcentaje_aumento), 2)
    
    update_result = db.destinos.replace_one({"city": ciudad_a_modificar}, destino_modificado)
    
    print(f"✅ Se actualizó el documento de {ciudad_a_modificar}.")
else:
    print(f"⚠️ Advertencia: No se encontró el destino {ciudad_a_modificar} o no tiene actividades.")

# 3.extraer actividades DESPUÉS de la modificación
destino_despues = db.destinos.find_one({"city": ciudad_a_modificar})
actividades_despues = []

if destino_despues and "tipos_actividad" in destino_despues:
    for tipo in destino_despues["tipos_actividad"]:
        for act in tipo.get("actividades", []):
            actividades_despues.append({"nombre": act["nombre"], "precio": act["precio"]})

# 4. IMPRESIÓN Y COMPARACIÓN:
if actividades_antes and actividades_despues:
    # Crear DataFrames renombrando las columnas
    df_antes = pd.DataFrame(actividades_antes).rename(columns={"nombre": "Actividad", "precio": "Precio_Original ($)"})
    df_despues = pd.DataFrame(actividades_despues).rename(columns={"nombre": "Actividad", "precio": "Precio_Nuevo ($)"})
    
    # Unir los DataFrames usando 'Actividad' como clave
    df_comparacion = pd.merge(df_antes, df_despues, on="Actividad", how="inner")
    
    print("\nTabla de comparación de precios (Antes vs. Después del 5%):")
    display(df_comparacion)
else:
    print(f"⚠️ No hay actividades disponibles para comparar en {ciudad_a_modificar}.")

--- a): Incremento del 5% en actividades de Tucuman ---
✅ Se actualizó el documento de Tucumán.

Tabla de comparación de precios (Antes vs. Después del 5%):

                   Actividad  Precio_Original ($)  Precio_Nuevo ($)
0                   Tirolesa             27036.33          28388.15
1                     Rappel             24473.35          25697.02
2     Ruta de vinos/cervezas             16664.01          17497.21
3       Mercado de alimentos             38853.37          40796.04
4      Degustación de quesos             12494.24          13118.95
5      Clase de cocina local             26418.16          27739.07
6            Galería de arte             24556.70          25784.54
7         Teatro/Espectáculo             16548.25          17375.66
8           Visita a granjas             33794.54          35484.27
9   Día de campo en estancia             33184.47          34843.69
10                 Cabalgata             29313.39          30779.06
11     Recolección de frutos             36841.41          38683.48

In [2]:
print("\n--- b): Agregar servicio SPA al hotel ID=1 ---")

# Definición del hotel y el servicio
hotel_id_a_modificar = 1
nuevo_servicio = "SPA"

# 1. Realizar la actualización "hotel_id" en lugar de "id"
update_result = db.hoteles.update_one(
    {"hotel_id": hotel_id_a_modificar},  # ← CAMBIO AQUÍ
    {"$addToSet": {"servicios": nuevo_servicio}}
)

# 2. Imprimir los resultados "hotel_id" en lugar de "id"
if update_result.matched_count > 0:
    # Consultar los servicios para mostrar el cambio 
    servicios_actuales = db.hoteles.find_one({"hotel_id": hotel_id_a_modificar}, {"_id": 0, "servicios": 1, "name": 1})
    
    if update_result.modified_count > 0:
        print(f"✅ Se agregó el servicio '{nuevo_servicio}' al hotel ID={hotel_id_a_modificar} ({servicios_actuales.get('name')}).")
        print(f"   Nuevos servicios: {servicios_actuales.get('servicios')}")
    else:
        print(f"ℹ️ El hotel con ID={hotel_id_a_modificar} ({servicios_actuales.get('name')}) ya tenía el servicio '{nuevo_servicio}'. No se realizaron cambios.")
        print(f"   Servicios actuales: {servicios_actuales.get('servicios')}")
else:
    print(f"❌ Error: No se encontró el hotel con hotel_id={hotel_id_a_modificar}.")

--- b): Agregar servicio SPA al hotel ID=1 ---
ℹ️ El hotel con ID=1 (Buenos Aires Boutique 1) ya tenía el servicio 'SPA'. No se realizaron cambios.
   Servicios actuales: ['Bar', 'Gimnasio', 'Pileta', 'SPA']

In [8]:
from pymongo import MongoClient
from neo4j import GraphDatabase
from neo4j.exceptions import Neo4jError

# Configuración de conexiones
mongo_client = MongoClient("mongodb://admin:admin123@mongo:27017/")
db = mongo_client["data"]
neo_uri = "bolt://neo4j:7687"
driver = GraphDatabase.driver(neo_uri, auth=("neo4j", "neo4j123"))

def run_cypher(query, parameters=None):
    """Función auxiliar para ejecutar consultas Cypher."""
    with driver.session() as session:
        result = session.run(query, parameters)
        return result.data()

# Solicitar al usuario que ingrese el ID del usuario a eliminar
while True:
    try:
        user_id_to_delete = int(input("Ingrese el ID del usuario que desea eliminar: "))
        if user_id_to_delete < 1 or user_id_to_delete > 50:
            print(" El id ingresado está fuera del rango válido (1-50). Pruebe nuevamente con un id entre 1 y 50")
            continue
        break  # Si el id es válido, salimos del bucle
    except ValueError:
        print("❌ Error: Por favor, ingrese un ID numérico válido. Pruebe nuevamente con un id entre 1 y 50")
        
# --- PARTE 1: NEO4J (Eliminación de nodo y relaciones) ---
print(f"\n--- d) Parte 1: Eliminando Usuario ID={user_id_to_delete} de Neo4j ---")

try:
    # 1. Recuperar el nombre del usuario para mostrar sus datos
    name_result = run_cypher("MATCH (u:Usuario {id: $id}) RETURN u.nombre AS nombre", {"id": user_id_to_delete})
    user_name_to_delete = name_result[0]['nombre'] if name_result else None

    if user_name_to_delete:
        print(f" Usuario encontrado en Neo4j:")
        print(f" ID: {user_id_to_delete}")
        print(f" Nombre: {user_name_to_delete}")
        
        # 2. Eliminar el nodo y todas sus relaciones 
        delete_query = """
        MATCH (u:Usuario {id: $id})
        DETACH DELETE u
        RETURN COUNT(u) AS deleted_count
        """
        delete_result = run_cypher(delete_query, {"id": user_id_to_delete})
        
        if delete_result and delete_result[0]['deleted_count'] > 0:
            print(f" Usuario '{user_name_to_delete}' (ID={user_id_to_delete}) y sus relaciones han sido eliminados de Neo4j.")
        else:
            print(f" Advertencia: No se pudo eliminar el usuario ID={user_id_to_delete} en Neo4j (posiblemente ya eliminado).")
    else:
        print(f" Error: No se encontró el usuario con ID={user_id_to_delete} en Neo4j.")

except Neo4jError as e:
    print(f" Ocurrió un error de Neo4j al ejecutar la consulta: {e}")

# --- PARTE 2: MONGODB (Eliminación de documentos) ---
print(f"\n--- Parte 2: Eliminando Usuario ID={user_id_to_delete} de MongoDB ---")

# 1. Recuperar y mostrar los datos del usuario desde MongoDB
user_data = db.usuarios.find_one({"id": user_id_to_delete}, {"_id": 0})

if user_data:
    print(f" Usuario encontrado en MongoDB:")
    print(f" ID: {user_data.get('id')}")
    print(f" Nombre: {user_data.get('name')} {user_data.get('last_name')}")
    print(f" Edad: {user_data.get('age')}")
    print(f" DNI: {user_data.get('DNI')}")
    print(f" Teléfono: {user_data.get('phone')}")

    # 2. Eliminar el documento de usuario
    user_delete_result = db.usuarios.delete_one({"id": user_id_to_delete})

    # 3. Eliminar las reservas asociadas a ese usuario 
    reservas_delete_result = db.reservas.delete_many({"user_id": user_id_to_delete})

    # 4. Imprimir los resultados
    if user_delete_result.deleted_count > 0:
        print(f" Usuario (ID={user_id_to_delete}) eliminado de la colección 'usuarios' en MongoDB.")
    else:
        print(f" Advertencia: No se pudo eliminar el usuario ID={user_id_to_delete} en 'usuarios' de MongoDB (posiblemente ya eliminado).")
    
    print(f" Se eliminaron {reservas_delete_result.deleted_count} reservas asociadas al usuario ID={user_id_to_delete} en MongoDB.")
else:
    print(f" Error: No se encontró el usuario con ID={user_id_to_delete} en MongoDB.")

# Cerrar conexiones
mongo_client.close()
driver.close()
print("\n Conexiones cerradas.")

Ingrese el ID del usuario que desea eliminar:  12

--- d) Parte 1: Eliminando Usuario ID=12 de Neo4j ---
 Usuario encontrado en Neo4j:
 ID: 12
 Nombre: Laura Ruiz
 Usuario 'Laura Ruiz' (ID=12) y sus relaciones han sido eliminados de Neo4j.

--- Parte 2: Eliminando Usuario ID=12 de MongoDB ---
 Usuario encontrado en MongoDB:
 ID: 12
 Nombre: Laura Ruiz
 Edad: 50
 DNI: 29847436
 Teléfono: +54912816435148
 Usuario (ID=12) eliminado de la colección 'usuarios' en MongoDB.
 Se eliminaron 2 reservas asociadas al usuario ID=12 en MongoDB.

✅ Conexiones cerradas.